#Folders

inputs/aux_inputs/*
inputs/aux_inputs/PRG/SMPS/
inputs/aux_inputs/PRG/SMPS_GRIMM/
inputs/LUT
inputs/config/input.yaml
outputs

!inputs/data/PRG
inputs/data/*
!inputs/aux_inputs/PRG/

.ipynb_checkpoints
#Files
*.log
*.out
*.err
*.par
!optcri.par
src/model/OPTCRI_test.py
